.title {
    margin:0 auto; 
    width:320px; 
    height:120px; 
    border:1px solid rgb(39, 30, 30);
    text-align: center
}

#p1 {
    cursor: pointer;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    min-height: 380px;
}

.row {
    height: 50px;
}

.cell {
    width: 150px;
    height: 150px;
}

.cell-blank {
    width: 150px;
    height: 150px;
}

.grid_wrapper{   
    width: 510px;   
    height: 510px;   
    margin-left: auto;   
    margin-right: auto;   
} 

.grid{   
    margin-left: 5px;   
    margin-top: 5px;   
}

/* .grid:after{   
    content: ".";   
    display: block;   
    line-height: 0;   
    height: 0;   
    clear: both;   
    visibility: hidden;   
    overflow: hidden;   
}   
   
.grid a,.grid a:visited{   
    float: left;   
    display: inline;   
    border: 5px solid #ccc;   
    width: 50px;   
    height: 50px;   
    text-align: center;   
    line-height: 50px;   
    margin-left: -5px;   
    margin-top: -5px;   
    position: relative;   
    z-index: 1;   
}   
   
.grid a:hover{   
    border-color: #f00;   
    z-index: 2;   
}    */
